*.encriptacion{
    width: 100%;
    padding: 2rem 6% 1rem;
}
.encriptacion__texto{
    width: 100%;
    background-image: url(IMG/Muneco.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    min-height: 525px;
    font-size: 2rem;
    padding: 1rem 0 0 1.5rem;
    font-weight: 300;
}

.encriptacion__texto:focus{
    outline-style: none;
}

.btnCopiar{
    margin: 1rem 0 0;
}

@media screen and (min-width: 1024px) {

    .encriptacion{
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
    }

}
.encriptador{
    width: 100%;
}

.encriptador__texto{
    width: 100%;
    min-height: 350px;
    padding: 1rem 0 0 1.5rem;
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: 300;
    border-radius: 24px;
}
::placeholder {
    color: var(--texto);
    opacity: 50%;

}

.encriptador__texto:focus{
    outline-style: none;
}

.encriptador__disclaimer{
    font-size: 1rem;
    align-self: flex-start;
    opacity: 50%;
    padding: 1rem 0;
}

.encriptador__btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.btn{
    display: block;
    font-size: 1.25rem;
    text-align: center;
    border: solid 1px var(--caja-borde);
    margin: 0 0 1rem 0;
    padding: 1.25rem 2rem;
    color: var(--texto);
    background-color: var(--caja-fondo);
    font-family: inherit;
    font-weight: 300;
    width: 100%;
    max-width: 325px;
    box-sizing: border-box;
    transition: 0.75s;
    min-width: 150px;
}

.btn:active{
    background-color: var(--boton-hover);
}

.btn:hover{
    border-color: var(--boton-hover);
    box-shadow: 0 0 10px var(--boton-hover);
}

@media screen and (min-width: 768px) {

    .encriptador__texto{
        font-weight: 400;
    }

    .encriptador__btns{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .encriptar{
        margin-right: 2.5%;
        background-color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #FFFFFF;
        width: 328px;
        height: 67px;
        cursor: pointer;
    }
    .desencriptar{
        margin-left: 2.5%;
        background: #D8DFE8;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        width: 328px;
        height: 67px;
        cursor: pointer;
        margin-left: 30px;
    }

    .btnCopiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    color: #0A3871;
    position: absolute;
    width: 328px;
    height: 67px;
    margin-left: 30px;
    margin-top: 570px;
    }
    
    .btn{
        max-width: 350px;
    }
}

@media screen and (min-width: 1024px) {

    .encriptador__texto{
        min-height: 525px;
    }

    .encriptar{
        margin-right: 1%;
    }
    .desencriptar{
        margin-left: 1%;
    }
    
    .btn{
        max-width: 450px;
    }
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem 6% 2rem;
    color: var(--texto);
    position: relative;
    bottom: 0;
    justify-content: flex-end;
}

.footer__disclaimer{
    font-size: 1rem;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width:1024px) {
    
    footer{
        height: 100%;
        padding: 1rem 6% 2rem;
        position: relative;
        bottom: 0;
        
    }

}
.header{
    width: 100%;
    padding: 3rem 6% 2rem;
}

.header__logo{
    max-width: 100px;
}

@media screen and (min-width: 1024px) {
    .header{
        padding: 3rem 10% 3rem;
    }
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 6%;
}

@media screen and (min-width:1024px) {
    
    main{
        flex-direction: row;
        justify-content: space-around;
        padding: 0 6%;
        align-items: flex-start;
    }

    .container{
        padding: 0;
        max-width: 45%;
        min-height: 600px;
    }

}
:root{
    --texto: rgb(0, 0, 0);
    --caja-borde: rgba(0, 0, 0, 0.75);
    --caja-fondo: rgb(255, 255, 255);
    --boton-hover: antiquewhite;
}

*{
    font-family: inherit;
    color: var(--texto);
    box-sizing: border-box;
}
html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: inherit;
    background-size: cover;
    background-repeat: unset;
    height: 100vh;
    display: flex;
    flex-direction: column;
}